.ChoiceSelectorContainer {
  
}

.HeroBox {
  position: relative;
  margin: 0 auto;
  height: 100vh;
}

.HeaderContainer {
  text-align: center;
}

.Title {
  font-size: 80px;
  font-weight: 900;
  padding: 102px 0 51px 0;
  letter-spacing: 8px;
}

.Subtitle {
  font-size: 40px;
}