.SoundPlayerContainer {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.ButtonContainer {
  display: flex;
  position: relative;
  width: 10em;
  margin: 0 auto;
    :last-child {
      margin-right: 77px;
    }
}

.TrackArtist{
  margin-bottom: 102px;
}

.TrackName{
  margin: 204px 0 51px 0
}

@media (max-width: 480px) {
  .TrackName{
    margin: 102px 0 25px 0;
  }
  .ButtonContainer {
    :last-child {
      margin-right: 38px;
    }
}
}