*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: 'Lato', sans-serif;
  background: #1D1E25;
  color: #F2F2F2;
}

:global(.backBtn) {
  font-size: 40px;
  text-decoration: underline;
  margin-top: 106px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

:global(.topGutter) {
  margin-top: 124px;
}

:global(.center) {
  text-align: center;
}

@media (max-width: 480px) {
    :global(.backBtn) {
      font-size: 24px;
      margin-top: 52px;
  }
  :global(.topGutter) {
    margin-top: 16px;
  }
}